 
/**Here is the top part**/
.div{
    height: 30px;
    margin-top: 20px;
    background-color: red;
}
.h1 {
    float:left;
    font-size: 32px;
    font-family: 'Raleway' sans-serif;
}
.Signup {
    float: right;
    margin: 5px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    font-weight: bold;
    font-family: 'Raleway', serif;
    transition: 0.4s;
}
.Signup:hover {
    background-color: black;
    
    color: white;
}
.Login {
    float: right;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', serif;
    transition: 0.4s;

}
.Login:hover {
    background-color: darkgreen;

}
/**This will be the main part**/
.columns {
    columns: 2 200px;
    font-family: 'Raleway', sans-serif;  
    font-size: 14px ;
    margin: 10px;
}

/** Article 1 (We are tied to our phones) **/
.Article_1-pic {
    height: 27em;
    width: 36em;
    padding-left: 100px;
    padding-right: 85px;
    
}

.Article_1-text {
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 48px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, sans-serif;
}

.Article_1 {
    border: 2px red solid;
    margin-bottom: 10px;
}
.Article_1-caption {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    

}
.Article_1-info {
    margin-left: 4em;
}
/** Article 2 (The earth is flat) **/

.Article_2 {
    border: 2px red solid;
    margin-bottom: 10px;
}
.Article_2-video {
    height: 27em;
    width: 36em;
    padding-left:100px ;
    padding-right: 85px;
}
.Article_2-caption {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
}
.Article_2-info {
    text-align: center;
}
/**Article 3 (Muppets show heating up again)**/

.Article_3 {
    border: 2px red solid
}

.Article_3-video {
    height: 27em;
    width: 36em;
    padding-right: 100px;
    padding-left: 85px;
}

.Article_3-caption {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
}

.Article_3-info {
    text-align: center;
}

/**Just some ads**/
.ads {
    border: 2px red solid;
    padding-left: 0px;
    display: block;
    float: right;
    
}
.ads_1{
    height: 1400px;
    width: 700px;
}



/**
.Ads {
}
**/

/**Footer
.footer{
    background-color: grey;
    height: 100px;
    width: 100px;
}
**/
